.custom_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    margin-bottom: 15%;
}

.me_img{
    max-height: 25rem;
}

.image{
    margin-left: 5%;
}

h1, p{
    padding: 20px;
}

p{font-size: 1.2rem;}

h1{
    font-size: 3.5rem;
}

.text{
    max-width: 60%;
    height: 25rem;
    margin-left: 1%;
}

.home-div{
    margin-top: 2%;
    margin-bottom: 2%;
    letter-spacing: 0.25rem;
}